-# %h1 Listing courses

-# .card-columns
-#   - @courses.each do |course|
-#     = render 'courses/course' , course: course
-# %br
.card
  .card-header
    %h1 Editing course
  .card-body
    = render 'form'
